<h1>Mis Productos</h1>

<div class="divProductos">
  {{#each productos}}
    <div class="divCard">
      <p>Nombre: {{this.title}}</p>
      <p>Descripción: {{this.description}}</p>
      <p>Precio:$ {{this.price}}</p>
      <button> Comprar </button>
    </div>
  {{/each}}
</div>